[Unit]
Description=IPFS daemon

[Service]
Environment="IPFS_PATH=/root/.ipfs"
ExecStart=/usr/local/bin/ipfs daemon
Restart=on-failure

[Install]
WantedBy=default.target
